[submodule "third_party/Pangolin"]
	path = third_party/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git/
[submodule "third_party/g2o"]
	path = third_party/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "third_party/Sophus"]
	path = third_party/Sophus
	url = https://github.com/strasdat/Sophus.git
